@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap");


:root {
    --first-color:#FF3701;
}

* {
    margin: auto;
}

body {
    font-family: 'Aref Ruqaa', serif;
    text-align: center;
}

.heading {
    background-image: linear-gradient(#FF3701, #FF6701);
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}

.description {
    margin-bottom: 2rem;
}


.container {

    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 50vh;
}

#bill-amount {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 2px solid;
    border-radius: 1rem;
}

#cash-given {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 2px solid;
    border-radius: 1rem;
}

#check-button {
    margin: auto;
    width: 20vh;
    padding: 1rem;
    background-image: linear-gradient(#FF3701, #FF6701);
    color: white;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

#next-button {
    margin: auto;
    width: 20vh;
    background-image: linear-gradient(#FF3701, #FF6701);
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
}

.cap {
    font-size: x-large;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.change-table {
    width: 100%;
    table-layout: fixed;
    border: solid black;
    font-size: large;
    padding: 1rem;
}

.bottom {
    margin-top: 2rem;
    background-image: linear-gradient(#FF3701, #FF6701);
    padding: 1rem;
    color: white;
}

.abt {
    font-size: x-large;
}

.with-love  {
    font-size: x-large;
}
